.verify_by_code {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;

    box-shadow: var(--box-shadow-primary);

    background-image: var(--background-form);

}

.verify_by_code h3 {
    font-size: var(--fontsize-title);
    text-align: center;
    margin-bottom: 20px;
}

.verify_code_container {
    text-align: center;
}

.verify_by_code input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: var(--fontsize-content);
    outline: none;
    color: var(--text-secondary);
    background-color: transparent;
    transition: 0.1s ease-in-out;
}

.verify_by_code input[type="text"]:hover {
    box-shadow: var(--input-outline-primary);
    transition: 0.1s ease-in-out;
}

.verify_by_code input[type="text"]:focus {
    box-shadow: var(--input-outline-primary);
    transform: scale(102%);
    transition: 0.1s ease-in-out;
}

.verify_by_code span {
    color: var(--text-error);
    font-size: var(--fontsize-content);
    display: block;
    margin-top: 5px;
}

.verify_by_code button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    font-size: var(--fontsize-content);
    cursor: pointer;
    margin-top: 10px;
}

.verify_by_code button:hover {
    background-color: var(--button-hover);
}
