.verify_by_code {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verify_by_code h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.verify_code_container {
    text-align: center;
}

.verify_by_code input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.verify_by_code span {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.verify_by_code button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.verify_by_code button:hover {
    background-color: #0056b3;
}
