.audience_form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.audience_form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form_regis {
    text-align: center;
}

.form_regis .form-group {
    margin: 10px 0;
    text-align: left;
}

.form_regis label {
    display: block;
    font-weight: bold;
}

.form_regis input[type="email"],
.form_regis select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form_regis span {
    color: red;
    font-size: 14px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
