.audience_form {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;

    background-image: var(--background-form);
    backdrop-filter: blur(16px);
    box-shadow: var(--box-shadow-primary);
}

.audience_form h1 {
    font-size: var(--fontsize-title);
    margin-bottom: 40px;
    text-align: center;
}

.form_regis {
    text-align: center;
}

.form_regis .form-group {
    margin: 20px 0;
    text-align: left;
}

.form_regis label {
    display: block;
    font-weight: bold;
    font-size: var(--fontsize-subtitle);
}

.form_regis input[type="email"],
.form_regis select {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    font-size: var(--fontsize-content);

    border: 1px solid var(--border-primary);
    border-radius: 5px;

    outline: none;
    color: var(--text-primary);
    background-color: transparent;

    transition: 0.1s ease-in-out;
}

.form_regis input[type="email"]:hover,
.form_regis select:hover {
    box-shadow: 0 0 15px var(--input-outline-focus-alpha), 0 0 2px var(--input-outline-focus-full) ;
    transition: 0.2s ease-in-out;
}

.form_regis input[type="email"]:focus,
.form_regis select:focus {
    box-shadow: 0 0 15px var(--input-outline-focus-alpha), 0 0 2px var(--input-outline-focus-full) ;
    transform: scale(102%);
    transition: 0.2s ease-in-out;
}

.form_regis select option {
    font-size: var(--fontsize-content);
    background-color: var(--background-secondary);
}

.audience_form span {
    color: var(--text-error);
    font-size: var(--fontsize-content);
    transition: 0.2s ease-in-out;
}

.form_regis .btn {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;

    border: none;
    border-radius: 5px;

    font-size: var(--fontsize-subtitle);
    color: #fff;
    background-color: var(--button-primary);

    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--button-hover);
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
}
