.show_bill {
    width: 50%;
    margin: 0 auto;
    padding: 80px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);
    background-image: var(--background-form);

    position: relative;
}

.show_bill h1 {
    font-size: var(--fontsize-title);
    text-align: center;
    margin-bottom: 40px;
    color: var(--ichst-primary);

    cursor: default;
}

.bill_container {
    text-align: left;
}

.bill_info {
    margin: 16px 0;
    cursor: default;
    transition: 0.2s ease-in-out;
}

.bill_info:hover {
    transform: scale(102%);
    box-shadow: var(--box-shadow-primary);
    transition: 0.2s ease-in-out;
}

.bill_info span {
    font-weight: bold;
    font-size: var(--fontsize-subtitle);
    color: var(--ichst-primary-70);
}

.bill_info p {
    font-weight: normal;
    color: var(--ichst-primary-70);
}

.button_wrapper {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;

    background-color: var(--ichst-primary);
    color: var(--text-white);
    font-size: var(--fontsize-subtitle);
    cursor: pointer;

    border: none;
    border-radius: 5px;

    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: var(--ichst-primary-70);
    transform: translate(0, -2px);
    transition: 0.1s ease-in-out;
}
