.registration_manage {
    padding: 140px 80px;
    background-color: #f5f5f5;
}

/*Css livewire blade*/
/* Path: resources/css/pages/manage-registration/registration_manage.css */
/*Step1: Search Section*/
/* Style for the container of the search section */
.search_section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the error message */
.error_box {
    margin-bottom: 20px;
}

.error_box p {
    color: red;
    font-weight: bold;
}

/* Style for the email search box */
.email_search_box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.email_search_box input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.email_search_box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


.email_search_box button:hover {
    background-color: #0056b3;
}

/* Style for the list of orders */
.list_orders table {
    width: 100%;
    border-collapse: collapse;
}

.list_orders th, .list_orders td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.list_orders th {
    background-color: #f2f2f2;
}

.list_orders tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* Style for the delete button */
.list_orders button[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.list_orders .purchase_btn {
    background-color: #00ff22;
}

.list_orders button[type="submit"]:hover {
    background-color: #c82333;
}

/*Step2: confirmation code*/
/* Style for the container of the confirmation code section */
.confirm_code_section {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the first paragraph */
.confirm_code_section p:first-child {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for the error message paragraph */
.confirm_code_section p:last-child {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for the input field */
.confirm_code_section input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
}

/* Style for the confirm button */
.confirm_code_section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm_code_section button:hover {
    background-color: #0056b3;
}
