.payment-success{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: var(--background-form);
    box-shadow: var(--box-shadow-primary);
}

.payment-success .title{
    margin-bottom: 20px;
    text-align: center;
}

.payment-success .title h1{
    font-size: var(--fontsize-title);
    font-weight: bold;
    color: var(--ichst-primary);
    margin-bottom: 10px;
}

.payment-success .title p{
    font-size: var(--fontsize-subtitle);
    color: var(--ichst-primary-70);
    font-weight: normal;
}

.payment-success .order-content {
    padding: 20px 60px;
}

.payment-success .order-content h2 {
    font-size: var(--fontsize-title);
    font-weight: bold;
    color: var(--ichst-primary);
    margin-bottom: 10px;
}

.payment-success .order-content .order-info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.payment-success .order-content .order-info-group span {
    font-size: var(--fontsize-subtitle);
    color: var(--ichst-primary);
    font-weight: normal;
}

.payment-success .order-content .order-info-group p {
    font-size: var(--fontsize-subtitle);
    font-weight: bold;
    color: var(--ichst-primary);

}

.payment-success .payment-more-info {
    margin-top: 20px;
}

.payment-success .payment-more-info p {
    font-size: var(--fontsize-content);
    color: var(--ichst-primary-70);
    font-weight: normal;
}
