.loading-container {
    position: relative;
}
.loading {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.loading svg {
    width: 200px;
    height: 200px;
}
