header {
    padding: 0px 40px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid var(--border-primary);

    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(16px);
}

header .active {
    color: var(--text-white);
    background-color: var(--background-primary);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-logo);
}

.logo a {
    text-decoration: none;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--text-primary);
    padding: 40px 20px;
    font-size: var(--fontsize-subtitle);
    font-weight: normal;
    transition: 0.3s ease-in-out;
}

header nav a:hover {
    color: var(--text-white);
    background-color: var(--background-secondary);
    transition: 0.3s ease-in-out;
}
