.search_section {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    box-shadow: var(--box-shadow-primary);
    background-image: var(--background-form);
}

.search_section .info_box {
    font-size: 14px;
    color: var(--ichst-primary);
}

/* Style for the error message */
.error_box {
    margin-bottom: 20px;
}

.error_box p {
    color: var(--text-error);
    font-size: var(--fontsize-content);
}

/* Style for the email search box */
.email_search_box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.email_search_box input {
    width: 70%;
    padding: 10px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    outline: none;
    font-size: var(--fontsize-content);
    color: var(--text-secondary);

    transition: 0.2s ease-in-out;
}

.email_search_box input:hover {
    box-shadow: var(--input-outline-primary);
    transition: 0.2s ease-in-out;
}

.email_search_box input:focus {
    box-shadow: var(--input-outline-primary);
    transform: scale(102%);
    transition: 0.2s ease-in-out;
}

.email_search_box button {
    padding: 10px 20px;
    background-color: var(--ichst-primary);
    color: var(--text-white);
    font-size: var(--fontsize-content);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


.email_search_box button:hover {
    background-color: var(--ichst-primary-70);
}

/* Style for the list of orders */
.list_orders table {
    width: 100%;
    border-collapse: collapse;
}

.list_orders table thead tr th {
    color: var(--text-white);
}

.list_orders table tbody tr {
    background-color: var(--ichst-primary-70);
    transition: 0.1s ease-in-out;
}

.list_orders table tbody tr:hover {
    transform: scale(101%);
    transition: 0.1s ease-in-out;
}

.list_orders table thead tr {
    background-color: var(--ichst-primary);
}

.list_orders table tbody tr th {
    color: var(--text-white);
}

.list_orders th, .list_orders td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--border-primary);
    color: var(--text-white);
}

.list_orders tr:nth-child(even) {
    background-color: var(--ichst-primary-50);
}

/* Style for the delete button */
.list_orders button {
    background-color: #dc3545;
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: var(--fontsize-content);
}

.list_orders button:hover {
    background-color: #c82333;
}

.list_orders .deleteBtn {
    background-color: #dc9435;
}
