/*Step 1: search -----------------------------------------------------------------------*/
.author_search {
    padding: 140px 80px;
}

/* Style for the container of the author search section */
.author_search {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the title section */
.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 24px;
}

.title p {
    font-size: 16px;
    color: #666;
}

/* Style for the search input */
.search_box {
    margin-bottom: 20px;
}

label[for="author-search"] {
    font-weight: bold;
    margin-right: 10px;
}

#author-search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

/* Style for the error box */
.error_box {
margin-top: 20px
}

.error_box span {
    color: red;
    font-weight: bold;
    display: block; /* Display the error message on a new line */
    margin-top: 5px; /* Add some spacing between the error messages */
}

/* Style for the data table */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* Style for the checkboxes */
input[type="checkbox"] {
    margin: 0;
}

/* Style for the "Continue" button */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/*Step 2 + 3: cung cap thong tin + tinhs tien -------------------------------------------------------*/
.author_provide_info{
    padding: 140px 80px;
    height: 100vh;
}

/* Style for the container of the author_provide_info section */
.author_provide_info {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the title */
.title h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the body content */
.body-content {
    display: flex;
    justify-content: space-around;
}

/* Style for the selected post section */
.selected_post_section {
    margin-bottom: 20px;
    width: 50%;
    box-shadow: 2px 2px 2px 4px rgba(0.1, 0, 0, 0.1);
    padding: 60px;
    border-radius: 8px;
}

.selected_post_section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.selected_post_section ul {
    list-style: none;
    padding: 0;
}

.selected_post_section li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected_post_section span:first-child {
    margin-right: 10px;
    font-weight: bold;
}

.selected_post_section input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    margin-left: 20px;
}

/* Style for the author section */
.author_section {
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 4px rgba(0.1, 0, 0, 0.1);
    padding: 60px;
    border-radius: 8px;
}

.info_group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info_group span {
    margin-right: 10px;
    font-weight: bold;
}

form-group label {
    font-weight: bold;
    margin-right: 10px;
}

/* Style for the select box */
#type_member {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Style for the "Show bill" button */
.button_container {
    display: flex;
    justify-content: center;
}

button[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

}

button[type="button"]:hover {
    background-color: #0056b3;
}


/*Step 4: show bill ----------------------------------------------------------------------------*/
.author_bill {
    padding: 140px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Style for the container of the author_bill section */
.author_bill {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* Style for the title */
.author_bill h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the bill content */


.bill_content {
    margin-bottom: 20px;
    width: 30%;
}

.bill_content_group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.bill_content_group span {
    margin-right: 10px;
    font-weight: bold;
}

.bill_content p {
    font-size: 14px;
    color: #4b5563;
}

/* Style for the "Purchase" button */
button[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

/*STEP5: check code ---------------------------------------------------------*/
.check_code {
    height: 100vh;
    padding: 140px 80px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.check_code h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.code_input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.check_code  .error_box {
    margin-top: 10px;
}

.check_code  .error_box span {
    color: red;
    font-size: 14px;
    display: block;
}

.check_code  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.check_code button:hover {
    background-color: #0056b3;
}

/*STEp 6: payment -------------------------------------------------------------------------------------*/
.payment_port {
    padding-top: 140px;
}
/*Step 4: Thong bao email success --------------------------------------------------------------------*/
/* Style for the container of the author_email_success section */
.success_container {
    padding: 140px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.author_email_success {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the title */
.author_email_success h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for the success message */
.author_email_success p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Style for the "Email" link */
.author_email_success a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.author_email_success a:hover {
    background-color: #0056b3;
}
