.check_code {
    width: 70%;
    margin: 60px auto;
    padding: 140px 80px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: var(--background-form);
}

.check_code h3 {
    font-size: var(--fontsize-title);
    margin-bottom: 20px;
}

.code_input {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.code_input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    font-size: var(--fontsize-content);
    background-color: transparent;
    color: var(--text-secondary);

    outline: none;
    transition: 0.2s ease-in-out;
}

.code_input input[type="text"]:hover {
    box-shadow: var(--input-outline-primary);
    transition: 0.2s ease-in-out;
}

.code_input input[type="text"]:focus {
    box-shadow: var(--input-outline-primary);
    transform: scale(102%);
    transition: 0.2s ease-in-out;
}

.check_code  .error_box {
    margin-top: 10px;
}

.check_code  .error_box span {
    color: var(--text-error);
    font-size: var(--fontsize-content);
    display: block;
}

.check_code  button {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--button-primary);
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    font-size: var(--fontsize-content);
    cursor: pointer;
    margin-top: 10px;
}

.check_code button:hover {
    background-color: var(--button-hover);
}
