.author_provide_info{
    padding: 80px;
    width: 70%;
    margin: 80px auto;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    background-image: var(--background-form);
    box-shadow: var(--box-shadow-primary);
}

/* Style for the title */
.title h1 {
    font-size: var(--fontsize-title);
    color: var(--ichst-primary);
    text-align: center;
    margin-bottom:40px;
}

/* Style for the body content */
.body-content {
    display: flex;
    justify-content: space-around;
}

/* Style for the selected post section */
.selected_post_section {
    width: 45%;
    box-shadow: var(--box-shadow-grey);
    padding: 60px;
    border-radius: 8px;
}

.selected_post_section h2 {
    font-size: var(--fontsize-subtitle);
    color: var(--ichst-primary-70);
    margin-bottom: 10px;
}

.selected_post_section ul {
    list-style: none;
    padding: 0;
}

.selected_post_section li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected_post_section li span:first-child {
    font-size: var(--fontsize-content);
    color: var(--text-primary);
    margin-right: 6px;
    font-weight: bold;
}

.selected_post_section li .post_title {
    font-size: var(--fontsize-content);
    color: var(--text-secondary);
}

.selected_post_section input[type="text"] {
    padding: 4px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    width: 100px;
    margin-left: 20px;

    font-size: var(--fontsize-content);
    color: var(--text-secondary);

    outline: none;

    background-color: transparent;
}

/* Style for the author section */
.author_section {
    box-shadow: var(--box-shadow-grey);
    max-width: 50%;
    padding: 60px;
    border-radius: 8px;
}

.info_group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info_group span {
    margin-right: 10px;
    font-weight: bold;
    font-size: var(--fontsize-content);
    color: var(--ichst-primary-70);
}

.info_group p {
    font-size: var(--fontsize-content);
    color: var(--text-secondary);
}

.form-group label {
    font-weight: bold;
    margin-right: 10px;
    font-size: var(--fontsize-content);
    color: var(--ichst-primary-70);
}

/* Style for the select box */
#type_member {
    padding: 10px;
    margin-top: 4px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    outline: none;
    font-size: var(--fontsize-content);
    color: var(--text-secondary);
    cursor: pointer;
}

#type_member option {
    font-size: var(--fontsize-content);
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    transition: 0.2s ease-in-out;
}

#type_member:hover {
    box-shadow: var(--input-outline-primary);
    transition: 0.2s ease-in-out;
}

#type_member:focus {
    box-shadow: var(--input-outline-primary);
    transform: scale(102%);
    transition: 0.2s ease-in-out;
}

/* Style for the "Show bill" button */
.button_container {
    display: flex;
    justify-content: center;
}

.author_provide_info button[type="button"] {
    padding: 10px 20px;
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    background-color: var(--ichst-primary);
}

.author_provide_info button[type="button"]:hover {
    background-color: var(--ichst-primary-70);
}
