.author_search {
    padding: 100px 80px;
    width: 70%;
    margin: 80px auto;
    background-image: var(--background-form);
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    box-shadow: var(--box-shadow-primary);
}

/* Style for the title section */
.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: var(--fontsize-title);
}

.title p {
    font-size: var(--fontsize-subtitle);
    color: var(--text-secondary);
}

/* Style for the search input */
.search_box {
    margin-bottom: 20px;
}

label[for="author-search"] {
    font-weight: bold;
    display: block;
    font-size: var(--fontsize-subtitle);
    margin-bottom: 3px;
}

#author-search {
    padding: 10px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    width: 100%;
    outline: none;
    background-color: transparent;

    transition: 0.1s ease-in-out;
}

.search_box:hover input:hover {
    box-shadow: var(--input-outline-primary);
    transition: 0.1s ease-in-out;
}

.search_box input:focus {
    transform: scale(102%);
    box-shadow: var(--input-outline-focus-full), var(--input-outline-focus-alpha);
    transition: 0.1s ease-in-out;
}

/* Style for the error box */
.error_box {
    margin-top: 20px
}

.error_box span {
    color: var(--text-error);
    font-size: var(--fontsize-content);
    font-weight: bold;
    display: block; /* Display the error message on a new line */
    margin-top: 5px; /* Add some spacing between the error messages */
}

/* Style for the data table */
.author_search table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

.author_search table tbody tr:hover {
    transform: scale(101%);
    transition: 0.1s ease-in-out;
    cursor: default;
}


.author_search table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--border-primary);
    background-color: var(--background-secondary);
}

.author_search table th {
    background-color: var(--background-primary);
}

.author_search table tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* Style for the checkboxes */
.author_search input[type="checkbox"] {
    margin: 0;
    width: 40px;
    cursor: pointer;
}

.author_search input[type="checkbox"]:focus {
    animation: checkboxCheck 0.3s;
}

@keyframes checkboxCheck {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/* Style for the "Continue" button */
.author_search button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--button-primary);
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: var(--button-hover);
}
