.author_bill {
    width: 70%;
    margin: 80px auto;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    background-image: var(--background-form);
    box-shadow: var(--box-shadow-primary);
}

/* Style for the title */
.author_bill h2 {
    font-size: var(--fontsize-title);
    color: var(--ichst-primary);
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the bill content */
.bill_content {
    margin-bottom: 20px;
    width: 50%;
}

.bill_content_group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.bill_content_group span {
    margin-right: 10px;
    color: var(--ichst-primary-70);
    font-size: var(--fontsize-subtitle);
}

.bill_content p {
    font-size: var(--fontsize-subtitle);
    color: var(--ichst-primary-70);
}

/* Style for the "Purchase" button */
button[type="button"] {
    padding: 10px 20px;
    background-color: var(--ichst-primary);
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

button[type="button"]:hover {
    background-color: var(--ichst-primary-70);
}
