@import "audience-partials/registration_form.css";
@import "audience-partials/show_bill.css";
@import "audience-partials/input_code.css";
@import "audience-partials/payment.css";
@import "audience-partials/success.css";

.audience_page .container {
    padding: 80px;
}
