.show_bill {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.show_bill h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #4b5563;
}

.bill_container {
    text-align: left;
}

.bill_info {
    margin: 16px 0;
}

.bill_info span {
    font-weight: bold;
}

.bill_info p {
    font-weight: normal;
    color: #4b5563;
}

.button_wrapper {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}
