.success {
    max-width: 400px;
    margin: 0 auto;
    background-color: #2ecc71; /* Green color for success */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* White text color */
}

.success_content {
    text-align: center;
}

.success_content p {
    color: #fff; /* White text color */
}
